#tc-header {
  height: 100vh;
  min-height: 700px;
}

.header {
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(180deg,#000101 0,#1f4295);
  background: url(images/header-bg.jpg) no-repeat center/cover;

  &__content {
    margin-top: -3rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &__link {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &__title {
    margin-bottom: 0;
    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
  }

  &__description {
    color: rgba($white, 0.6);
  }

  &__description-first,
  &__description-second,
  &__description-third {
    display: block;
    margin-bottom: 0;
  }

  &__description-first {
    color: $white;
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.2rem;
    }
  }

  &__description-second {
    margin-top: .5rem;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
  }

  &__description-third {
    max-width: 54rem;
    margin-top: 0.6rem;
    margin-bottom: $spacer;
    font-size: 85%;
  }

  &__description-logo-react,
  &__description-logo-es6,
  &__description-logo-sass {
    margin-left: 15px;

    &:before {
      content: "";
      margin-right: 5px;
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
    }
  }

  &__description-logo-react {
    margin-left: 8px;

    &:before {
      background: url(map-get($logos, 'react-dark')) no-repeat center/100%;
    }
  }

  &__description-logo-es6 {
    &:before {
      background: url(map-get($logos, 'es6')) no-repeat center/100%;
    }
  }

  &__description-logo-sass {
    &:before {
      background: url(map-get($logos, 'sass')) no-repeat center/100%;
    }
  }

  /* Animations */
  &__title,
  &__description-first,
  &__description-second,
  &__description-third {
    opacity: 0;

    .wf-active & {
      animation: fadeSlideIn 300ms ease-in forwards;
      animation-delay: 200ms;
    }
  }

  &__description-first {
    .wf-active & {
      animation-delay: 200ms;
    }
  }

  &__description-second,
  &__description-third {
    .wf-active & {
      animation-delay: 600ms;
    }
  }

  .main-ctas__btn--folio,
  .main-ctas__btn--cv,
  .main-ctas__sep {
    opacity: 0;

    .wf-active & {
      animation: fadeSlideIn 300ms ease-in forwards;
      animation-delay: 1s;
    }
  }


}
