.main-ctas {
  margin-top: $spacer;
  position: relative;
  display: inline-block;

  &__sep {
    color: rgba(255,255,255, 0.3);
    font-size: .8rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__btn {
    font-size: 1.3rem;
    font-weight: 100;
    transition: all .15s ease-in;

    &--folio {
      margin-right: $spacer;
    }

    &--cv {
      margin-left: $spacer;
    }
  }
}
