.project-listing {
  position: relative;
  margin-bottom: $spacer * 4;

  &__body {
    background: $white;
  }

  &__close-btn {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3.5rem;
    height: 60px;
    width: 60px;
    padding: 0;
    color: $brand-dark;
    transition: 120ms ease-in;
    transition-delay: 100ms;

    .project-listing__preview:hover & {
      color: $brand-primary;
      /* todo: pulse animate ? */
    }

    .project-listing--toggled & {
      opacity: 1;
    }
  }

  &__close-btn-icon {
    font-style: normal;
    display: block;
    vertical-align: middle;
    line-height: 60px;
  }

  &__preview {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__preview-meta {
    flex-grow: 1;
    padding: $spacer;

    @include media-breakpoint-up(sm) {
      padding: $spacer * 2;
    }

    @include media-breakpoint-up(md) {
      padding-top: $spacer * 3;
      padding-right: $spacer * 3;
      padding-bottom: $spacer * 3;
      padding-left: 0;
    }

    @include media-breakpoint-up(lg) {
      padding-top: $spacer * 5;
      padding-right: $spacer * 5;
      padding-bottom: $spacer * 5;
    }
  }

  &__preview-title {
    color: $brand-dark;
  }

  &__preview-excerpt {
    margin-bottom: 0;
    color: rgba($brand-dark, 0.7);
    font-size: 88%;
  }

  &__detailed {
    max-height: 0;
    overflow: hidden;
    transition: 200ms ease-in;

    .project-listing--toggled & {
      max-height: 520px;

      @include media-breakpoint-up(md) {
        max-height: 450px;
      }
    }
  }

  &__detailed-body {
    opacity: 0;
    transition: 120ms ease-in;
    transition-delay: 200ms;

    .project-listing--toggled & {
      opacity: 1;
    }
  }

  &__excerpt-full {
    margin-bottom: 0;
    padding: $spacer;

    @include media-breakpoint-up(sm) {
      padding: $spacer * 2;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $spacer * 5;
      padding-right: $spacer * 5;
      padding-bottom: $spacer * 3;
    }
  }
}
