
$logos: (
  html5: 'images/logos/logo-html5.svg',
  adobe: 'images/logos/logo-adobe.svg',
  react: 'images/logos/logo-react.svg',
  react-dark: 'images/logos/logo-react-dark.svg',
  ai: 'images/logos/logo-ai.svg',
  angular: 'images/logos/logo-angular.svg',
  javascript: 'images/logos/logo-es6.svg',
  es6: 'images/logos/logo-es6.svg',
  invision: 'images/logos/logo-invision.svg',
  node: 'images/logos/logo-node.svg',
  sass: 'images/logos/logo-sass.svg',
  typescript: 'images/logos/logo-typescript.svg',
  tdd: 'images/logos/logo-jasmine.svg',
  jasmine: 'images/logos/logo-jasmine.svg',
  canvas: 'images/logos/logo-html5.svg',
  photoshop: 'images/logos/logo-adobe.svg',
  php: 'images/logos/logo-php.svg',
  webpack: 'images/logos/logo-webpack.svg',
  episerver: 'images/logos/logo-episerver.svg',
  jquery: 'images/logos/logo-jquery.svg',
  backbase: 'images/logos/logo-backbase.svg',
  backbone: 'images/logos/logo-backbone.svg',
  redux: 'images/logos/logo-redux.svg',
);

.tag {
  position: relative;
  padding-left: 2.3rem;

  &:not(:last-child) {
    margin-bottom: $spacer / 2;
  }

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 24px;
  }

  @each $name, $logo in $logos {
    &--#{$name}:before { background: url($logo) no-repeat center/contain; }
  }
}
