$marker-size-xs: 90px;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes timelineGlow {
  from { box-shadow: 0 0 15px rgba($white, 0.25); }
  50%   { box-shadow: 0 0 2px rgba($white, 0.1); }
  to { box-shadow: 0 0 15px rgba($white, 0.25); }
}

@keyframes timelineCircleStemIn {
  from { height: 0; transform: translateY(0); }
  to { height: 35px; transform: translateY(-35px); }
}

.timeline-marker {
  position: absolute;
  top: -124px;
  color: $white;
  width: $marker-size-xs;
  height: $marker-size-xs;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  margin-left: -#{$marker-size-xs / 2};
  animation: timelineGlow 1500ms infinite;
  animation-delay: 2s;
  border-radius: 50%;
  transition: 200ms ease-in;
  cursor: pointer;

  &:hover, &:after {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    background-color: rgba($brand-success, 0.15);

    .circle,
    .timeline__stem-path {
      stroke: $brand-success;
    }
  }

  &__label {
    position: absolute;
    font-size: 110%;
    opacity: 0;
    animation: fadeIn 250ms ease-in forwards;
    animation-delay: 2s;
  }
}
